<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InfoArr</key>
	<array>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
자전거 타고 여행하는 거제도.
신나게 달리다보면 아이템이 나타날 텐데,
하나도 놓치지 말고 모두 획득해야 합니다.
특별 미션과 함께 여행을 시작해볼까요~?
그 첫 번째 여행지는 농업개발원입니다.
우리나라에서 보기 힘든 전 세계에서 온 식물들이 가득한데요.
바다 건너 아프리카에서 온 꽃도 있고,
달콤한 애플망고도 이곳에서 무럭무럭 자라고 있어요.
이곳에서는 해마다 10월이 되면 섬꽃축제가 열립니다.
어라! 저기에 동백꽃이!? 2초간 응시해 주세요~!
하늘을 나는 자전거입니다~!
마치 꽃밭에 온 것처럼 알록달록한 농업개발원이 발아래에 펼쳐집니다.
자전거로 여행하는 거제도!
좀 더 쌩쌩 달리려면 동백꽃이 필요한데....
오~! 저기 동백꽃이 보여요! 2초간만 응시해주세요~!
해안선을 따라 달리며 거제도의 풍경을 한 눈에 담아 볼까요~?
저 멀리 자그마한 다리가 보이네요.
칠천도와 황덕도를 잇는 황덕교는 그 길이가 길지 않고,
주변 풍경까지 좋아 자전거 여행에서 빠트릴 수 없는 곳입니다.
자전거 여행하기 좋은 거제도 다음 장소로 가 볼 까요~?
저기 동백꽃이 또 나타났어요~! 얼른 가져가야지
2초간 꽃을 봐 주세요~!
거제도 자전거 여행 그 마지막 장소는 옥포입니다.
거제의 과거와 현재를 모두 가진 곳인데요.
특히 옥포의 해안선은 해양 도시로 발전 한 거제의 모습을 잘 보여주고 있어요.
거제의 역사를 엿볼 수 있는 이곳은  옥포대첩기념공원입니다.
충무공 이순신의 첫 승전지를 영원히 기념하기 위해 만들어진 의미 있는 곳이에요. 
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
이번 여행은 낙하산을 타고 거제의 하늘을 여행할 거예요.
알찬 여행을 도와줄 아이템도 곳곳에 숨어있으니 잘 찾아보세요~! 
고도를 조금 낮춰 바다의 금강산, 거제해금강으로 내려가 보겠습니다.
어머, 저 시커먼 동굴 안에 유람선이 있네요~!
이 유람선을 타고 동굴로 들어가면 천장에 난 십자 모양을 볼 수 있어요
그리고 섬의 일대에선 사자바위, 일월봉, 신랑각시 바위 등
다양한 모양의 바위들을 가까이서 볼 수 있답니다.
절경이기로 소문난 거제해금강의 일출도 꼭 이 유람선을 타고 봐야 한다구요~!
유람선이 움직이고 있어요. 
우리도 따라가서 거제해금강의 다른 모습도 구경해봐요~!
더 멀~리 날기 위해 낙하산에 힘을 실어봐요!
아마 몽순이가 저희를 도와줄거에요
저기 몽순이가 기다리고 있네요!
2초 동안 가만히 몽순이를 바라봐 주세요.
바다 위에 콕콕 점을 찍은 듯 여러 개의 바위가 모여 있는 이곳은 다포도입니다.
배로 가지 않으면 전망대에서밖에 볼 수 없는 이 섬을 우린 하늘을 날아 여행하고 있네요~
낙하산 타고 여행하는 거제도
다음 장소는 몽순이가 알고 있는데요!
몽순이랑 같이 다음 장소로 가볼까요?
몽순이가…. 저기 있다!
눈 앞에 보이는 여러 섬들은 총 15개에요
3개의 섬으로 이루어진 소병대도와
그 아래에 5개의 섬으로 이루어진 대병대도
고개를 돌려 섬을 자세히 내려다봐요
바다 위에 삿갓이 올려져 있는 것 같지 않나요?
마지막 여행지도 우리 몽순이랑 같이 한번 떠나봐요!
저기 앞에서 몽순이가 우릴 기다리고 있네요!
마지막 여행지로는 바로 죽림마을 입니다.
이곳 죽림마을은 하늘에서 바라보니 커다란 공룡 같아요!
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
아름다운 해안선을 가진 거제는 드라이브하기 좋은 곳이 정말 많죠.
이번엔 거제의 풍경 속을 달리는 여행을 할 거예요.
아참, 길가다 만나는 아이템들은 꼭 챙겨가야 합니다. 
이번여행의 특별 미션이에요~!
햇볕은 따뜻하고, 바닷바람은 시원하고,
고개를 돌릴 때 마다 눈에 담기는 거제의 풍경은 여행자들의 마음을 더욱 설레게 합니다.
저 멀리 뭔가가 보여요~! 조금 더 가까이 가 볼까요?
몽돌빵이네요 드디어 아이템을 발견했습니다.
2초간 응시해 주세요. 
이곳은 거제도의 부속섬 중 가장 큰 섬 칠천도입니다.
이제는 다리가 연결돼 섬이 아닌 섬이 되었는데요.
일주도로를 시원하게 달리다 보면 유난히 평화로운 섬의 분위기를 느낄 수 있습니다.
예로부터 ‘돈 섬’이라 불리기도 하고 ‘살기 좋은 마을’로  선정 될 정도로 칠천도는 평온한 섬입니다.
저기 다리위에 몽돌빵이 있어요
잠시만 몽돌빵을 봐 주세요~!
오~! 칠천량 해전공원을 날아보아요
자그마한 공원 보이시나요?
그저 마을 안의 공원처럼 보이지만 이곳에 우리의 아픈 역사가 깃들어 있어요.
임진왜란 당시, 조선수군이 일본군에 참패를 한 곳이 칠천량이에요.
임진왜란 중 해전에서 유일하게 패전한 곳이죠.
그 슬픈 역사를 기억하고 있는 칠천량 해전공원입니다.
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
여행지 곳곳에 숨은 아이템을 획득하라!
특별한 미션과 함께 하는 거제도 여행.
이번엔 상상 속에서만 가능했던
드론을 타고 거제도 하늘을 날아볼 거예요~!
오오~! 떨어지지 않게 중심 잘~잡으세요~!
높이 올라가니까 발아래에 거제도가 펼쳐집니다.
양쪽에 모두 바다가 보이죠?.
왼쪽은 바람의 언덕, 오른쪽은 신선대입니다.
거대한 풍차와, 거센 바람으로 유명한 바람의 언덕으로 먼저 가보겠습니다~! 
아 잠깐만요~! 
몽돌이가 우리를 안내해 준다고 하네요. 저기 몽돌이가 기다리고 있어요 
몽돌이를 2초간 응시해주시고~!
시원한 바닷바람을 타고 가다 보면~
섬의 끝자락에 우두커니 서 있는 풍차를 만납니다.
바다와 산 그 가운데, 바람의 언덕.
원래의 이름은 ‘띠밭늘’입니다.
잔디가 많이 심겨있는 밭이라는 뜻인데,
해풍이 많이 불어와 바람의 언덕으로 불리게 됐어요.
드론으로 여행하는 거제도,
조금 더 아래쪽으로 가볼 텐데요. 
몽돌이랑 같이 가보도록 해요. 
몽돌이가 어디에 있지~ 저기 있다! 
2초동안 몽돌이를 바라봐 주세요!
풍차와 한데 어우러져 있는 도장포 앞바다
도장포 바다는 유난히 활기찬데요~!
오~ 마침 저기 보이네요~!
엄청난 스피드로 바다를 가로지르는 제트보트!
해양관광도시인 거제도에선
유람선, 제트보트, 씨라인 등 다양한 해양레포츠를 즐길 수 있어요.
스릴감 즐기기엔 이 제트보트만 한 게 없겠죠~?
함께했던 여행 어땠나요~?
하늘 위에서, 또 다른 모습의 거제를 둘러봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
‘환상의 섬 거제도’가 여러분을 기다리고 있습니다~</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
이번 여행은 낙하산을 타고 거제의 하늘을 여행할 거예요.
알찬 여행을 도와줄 아이템도 곳곳에 숨어있으니 잘 찾아보세요~! 
고도를 조금 낮춰 바다의 금강산, 거제해금강으로 내려가 보겠습니다.
어머, 저 시커먼 동굴 안에 유람선이 있네요~!
이 유람선을 타고 동굴로 들어가면 천장에 난 십자 모양을 볼 수 있어요
그리고 섬의 일대에선 사자바위, 일월봉, 신랑각시 바위 등
다양한 모양의 바위들을 가까이서 볼 수 있답니다.
절경이기로 소문난 거제해금강의 일출도 꼭 이 유람선을 타고 봐야 한다구요~!
유람선이 움직이고 있어요. 
우리도 따라가서 거제해금강의 다른 모습도 구경해봐요~!
더 멀~리 날기 위해 낙하산에 힘을 실어봐요!
아마 몽순이가 저희를 도와줄거에요
저기 몽순이가 기다리고 있네요!
2초 동안 가만히 몽순이를 바라봐 주세요.
바다 위에 콕콕 점을 찍은 듯 여러 개의 바위가 모여 있는 이곳은 다포도입니다.
배로 가지 않으면 전망대에서밖에 볼 수 없는 이 섬을 우린 하늘을 날아 여행하고 있네요~
낙하산 타고 여행하는 거제도
다음 장소는 몽순이가 알고 있는데요!
몽순이랑 같이 다음 장소로 가볼까요?
몽순이가…. 저기 있다!
눈 앞에 보이는 여러 섬들은 총 15개에요
3개의 섬으로 이루어진 소병대도와
그 아래에 5개의 섬으로 이루어진 대병대도
고개를 돌려 섬을 자세히 내려다봐요
바다 위에 삿갓이 올려져 있는 것 같지 않나요?
마지막 여행지도 우리 몽순이랑 같이 한번 떠나봐요!
저기 앞에서 몽순이가 우릴 기다리고 있네요!
마지막 여행지로는 바로 죽림마을 입니다.
이곳 죽림마을은 하늘에서 바라보니 커다란 공룡 같아요!
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
자동차로 드라이브하기 좋은 섬 거제도.
이번엔, 해안선을 따라 신나게 달리며 여행을 할 텐데요.
길가다 만나는 아이템은 모두 다 획득해야 합니다.
그래야 더 멀~리까지 달릴 수 있으니까요~!
드라이브 코스 중에서도 거제의 명소를 훑는 길이 있습니다.
학동흑진주몽돌해변부터 이어지는 해안길인데요.
천연기념물로 지정된 학동동백림을 지나서 거제해금강과 바람의 언덕을 지나고 자그마한 어촌 마을, 다포와 다대까지 이어져 있어요.
드라이브하며 여행하는 거제도
신나는 여행에 힘을 돋워줄 아이템을 찾아 봐요!
저기 뭔가가 보이는데.... 몽돌이었네요~!
2초간 가만히 몽돌이를 봐주세요.
다대마을과 마주하고 있는 다포마을,
두 마을을 잇는 해안선은 다른 길과는 다르게 움푹 들어가 있는데요,
방파제 품에 쏘옥 안긴 듯한 해안선.
이 길을 달리다 보면 차가운 바닷바람조차 따뜻하게 느껴집니다
드라이브하기 좋은 거제도의 여행지!
마지막 장소로 가기 전 몽돌이를 찾아봐요~!
몽돌 발견! 2초간 응시해주시고~ 
거제의 드라이브 코스 중 가장 예쁘다는 여차해변
해변을 지나, 산길을 따라 오르다 보면 솔밭 사이로 크고 작은 섬들이
모습을 드러냅니다.
날씨에 따라서 해무가 끼기도 하고,
저 멀리 있는 섬이 보이기도 하고,
보는 재미가 쏠쏠하네요~
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
볼거리 즐길 거리가 가득해 여행하기 좋은 섬 거제도. 
걸어서 거제의 곳곳을 찾아가볼 텐데요
그 속에 숨은 아이템을 모두 획득해야하는 미션도 있으니
잘~ 살펴가며 거제를 둘러보세요~!
첫 번째 목적지는 다대마을입니다.
등대 길을 따라~
고개를 좌우로 돌려 다대 마을의 풍경을 만끽해보세요~!
이 마을엔 다양한 재미를 선사하는 ‘갯벌 체험장‘이 있습니다.
다대마을의 갯벌은 푹푹 빠지지 않아 맘껏 뛰어다녀도 돼요~!
까만 펄을 파다 보면, 귀여운 고둥도 있고, 
동글동글 바지락도 입을 뻐-끔 거리고 있답니다. 
걸어서 여행하는 거제도 , 다음 장소로 가볼까요~?
오~! 드디어 아이템이 등장했어요
힘이 불끈 솟는 마법의 물! 2초간 응시 해주시고~!
두 번째 여행지는 외도입니다. 
푸른 바다 가운데 있는 알록달록한 꽃 섬,
이 풍경 속을 거닐면 동화 속 저 먼~나라의 궁전에 온 듯한 기분이 들어요.
왼쪽을 봐도, 오른 쪽을 봐도,
온통 꽃으로 가득한 섬.
전망대에서 보이는 푸른 바다가
꽃 섬을 더욱 돋보이게 해줍니다.
외도의 꽃은 1년 내내지지 않아요.
봄에 와도, 겨울에 와도 
언제나 예쁜 모습으로 우릴 기다리고 있을 거예요.
걸어서 여행하기 좋은 거제도, 
또 다른 장소로 가볼 텐데요~
마법의 물이 어디에 있나~~ 찾았다! 2초간 응시해주시고~! 
걸어서 여행하는 거제도, 그 마지막 장소는 지심도입니다.
한겨울이면 활짝 핀 동백꽃들로 빨갛게 물드는 지심도.
그 모습이 어찌나 예쁜지, ‘동백섬’이라고 불리기도 해요.
지심도를 걷다 보면 아픈 역사의 흔적도 보게 됩니다.
지금은 카페로 사용 중인 이 건물이
일제강점기 때 지어진 일본군 전등소장의 집이었대요.
일본식 가옥도 있고,
탄약과 포탄을 저장하던 탄약고도 있고,
지심도엔 그때의 흔적이 고스란히 남아있습니다.
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
이번 여행은 말을 타고 달릴 거예요~
물론 거제도에선 말을 탈 수 없지만, 가상세계에선 안 될게 없죠~!
신나게 말을 타다 아이템을 발견하면
하나도 빠짐없이 획득해 주세요~! 이번 여행의 특별 미션입니다~
말을 타고 신나게 달려온 이곳은 학동흑진주몽돌해변입니다.
갈색 모래 대신 검은 흑진주가 뿌려진 듯한 학동흑진주몽돌해변
우리나라에 있는 몽돌해변 중에서 가장 큰 규모예요.
위에서 내려다보는 해변은 
평소 우리가 알던 해변과 사뭇 다른 모습입니다.
신기한 것들로 가득한 거제도,
날아오른 김에 조금 더 둘러볼까요~?
다음 장소로 가 볼 텐데요~ 
어라!? 저기 유니콘 인형이 있어요.
말을 힘나게 해줄 유니콘 인형! 2초간 응시해주세요~! 
말을 타고 신나게 달려 볼 두 번째 여행지, 거제맹종죽테마파크입니다.
맹종죽이란 여러 종류의 대나무 중
가장 굵고 단단한 것을 말해요.
대나무가 어찌나 울창하게 자라있는지
숲속엔 햇빛도 거의 없고, 바깥보다 온도가 낮아
시원하게 산책을 할 수 있답니다~!
여기서 숨을 크~게 들이마시고
후~하고 길게 내뱉으면
스트레스도 없어지고, 마음의 병이 치유된대요~
숨 한번 크게 쉬어 볼까요!
계속 달리느라 말이 힘이 빠진 것 같은데~ 
유니콘 인형은 어디에 있나~~?
오! 찾았다! 2초간 응시해주시고~! 
다음 장소로 힘을 내어 출발~! 
이곳은 6,25 전쟁의 아픔을 간직한 곳,
거제도포로수용소유적공원입니다.
공원 곳곳에 전쟁 포로들의 생활 흔적이 있고
반쯤 무너진 건물, 사진, 그리고 기록물들이
전쟁의 무서움을 생생하게 전달해 줍니다.
가슴아프지만 꼭 알아야 할 우리의 역사를 거제도에서 만나봅니다.
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
		<string>환상의 섬 거제도에 오신 걸 환영합니다.
거제 앞바다를 한눈에 담을 수 있는 곳, 산의 정상에 올라 거제를 여행할 텐데요.
헛둘 헛둘, 지금 오르고 있는 이 산은 거제도의 정중앙에 우뚝 서 있는 계룡산입니다.
정상에 서면, 거제도 전체를 한눈에 볼 수 있어요.
아참, 길가다 만나는 아이템은 모두 획득해야 합니다~!
저기 날개달린 신발이 있어요. 2초간 응시해주세요~!
계룡산에서 내려다 보는 거제도의 모습, 정말 멋있죠?
계룡산은 사계절 모두 다르게 아름다운 풍경을 보여준다고 해요~
통영에서 여수까지 길게 이어진 뱃길인
이 풍경은 바로, 한려해상국립공원입니다.
이곳은 200여 개의 크고 작은 섬들이 모여 있어요.
이순신 장군이 왜군과 치열한 전투를 벌인 곳이기도 해요. 
영화나 책에서 봤던 그 전쟁터가 이렇게나 아름다울지는 몰랐죠~?
오! 저기 날개달린 신발이 나타났어요~! 획득하면 힘이 불끈 솟는 신발
2초간 응시해주세요~!
봄이면 분홍빛 진달래로 뒤덮이는 산.
그 모습이 비단을 두른 것처럼 예쁘다 하여 붙은 이름, 
대금산입니다.
높지도 않고, 경사가 완만해서 가볍게 오르기 좋은 산이에요.
날씨가 좋을 때 정상에 올라서면, 저 멀리 일본의 대마도도 보이고,
창원, 부산 그리고 거가대교까지 보입니다.
조금만 더 거가대교를 감상해 봐요~
함께했던 여행 어땠나요~?
땅에서 하늘에서, 다양한 모습의 거제를 둘러 봤는데요~!
기회가 된다면, 직접 오셔서 거제 애(愛) 빠져보세요
환상의 섬 거제도가 여러분을 기다리고 있습니다~!</string>
	</array>
</dict>
</plist>
